:root {
}

.horizontal-line {
    height: 20px;
}

.horizontal-halfline {
    height: 10px;
}

.horizontal-line-space {
    height: 152px;
}



.line-ledger {
    background-color: rgb(153, 153, 153);
}

.line-staff {
    background-color: rgb(26, 26, 26);
}
